<ng-container *ngIf="order$ | async as items">
  <div class="card" *ngIf="items.length > 0">
    <div class="card-body">
      <h1 class="card-title">Warenkorb</h1>
      <ul class="card-text list-group list-group-flush">
        <li *ngFor="let item of items" class="list-group-item">
          {{item}}
        </li>
      </ul>
    </div>
  </div>
</ng-container>
