<div class="my-5" style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-1 col-lg-auto"></div>
    <div class="col-sm mr-auto ml-auto" style="max-width: 1164px">
      <router-outlet></router-outlet>
    </div>
    <div class="col-lg-auto">
      <app-orders></app-orders>
    </div>
  </div>
  <div class="row">
    <div class="col-sm text-right">
      <small>
        Commit: {{COMMIT_HASH || 'local'}}
      </small>
      <br>
      <small>
        Build: {{BUILD_DATE || 'local'}}
      </small>
    </div>
  </div>
</div>
